.nav-bar {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.left,
.right {
  width: 100px;
  background-color: red;
}
.center {
  flex-grow: 1;
}
